### Aula 01 - Syntax

In [33]:
#pd = pandas
import   as pd  

#Importando somente o módulo Pitch da biblioteca mplsoccer
from mplsoccer import Pitch
from mplsoccer import Pitch, VerticalPitch

#Importando tudo da biblioteca mplsoccer 
from mplsoccer import *

#A diferença entre 'import <lib>' e 'from <lib> import *' é que na segunda opção não precisamos chamar a lib a todo momento

### Aula 02 - Variables

In [7]:
x = 'Messi'
y = 10
print(x,y)

Messi 10

In [9]:
x = str(3)
print(x)
type(x)

3

str

In [16]:
a = 'Messi'
A = 'Ronaldo'
print(a +' and '+ A)

Messi and Ronaldo

In [22]:
x ='10'
type(x)

str

In [23]:
float(x)

10.0

In [25]:
x = bool(x)
type(x)

bool

In [26]:
print(x)

True

In [28]:
x = 10
bytes(x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [30]:
x = int(5)

y = dict(num=x, name='Messi')
print(y)
print(type(y))

{'num': 5, 'name': 'Messi'}
<class 'dict'>

## Aula 03 - Bools, Numbers, Strings, Lists, Tuples, Dicts

In [31]:
x = 'Brazil Number one'

print(x)

Brazil Number one

In [37]:
x = '''
Desde 2002 o Brasil é o maior
ganhador de copas do mundo 
da história
'''
print(x)

Desde 2002 o Brasil é o maior
ganhador de copas do mundo
da história

STR manipulation

In [38]:
x = 'Brazil Number One'

In [43]:
x[0:5]

'Brazi'

In [44]:
len(x)

17

In [45]:
x = 'Messi scored a goal'
print('Messi' in x)

True

In [49]:
x = 'Hello'
y = 'My name is Marcelo'
sentence = x + ' ' + y 
print(sentence)

Hello My name is Marcelo

In [50]:
txt = 'Hello My name is Marcelo'
txt.split('Hello')

['', ' My name is Marcelo']

In [51]:
txt.replace('Marcelo', 'Messi')

'Hello My name is Messi'

In [54]:
name = 'Marcelo'
x = f'My name is {name}'
print(x)

My name is Marcelo

Numbers

In [55]:
x = 100
type(x)

int

In [56]:
x = 100.25
type(x)

float

In [57]:
x = 100j
type(x)

complex

In [58]:
x = 100
float(x)

100.0

In [59]:
x = 100.5
int(x)

100

In [61]:
# Arredondando o float para um número inteiro 
x = 100.55
x = round(x)
x = int(x)
print(x)

101

In [62]:
x = 100.45
x = round(x)
x = int(x)
print(x)

100

Boolean

In [63]:
print(75 > 75)

False

In [64]:
bool('Messi')

True

In [65]:
#No binário, '0' representa falso e '1' representa verdadeiro
bool(0)

False

In [66]:
bool('')

False

Lists

In [70]:
x = ['apple', 'banana', 'watermelon', 'orange', 4, 100 * 5]
print(x)

['apple', 'banana', 'watermelon', 'orange', 4, 500]

In [71]:
len(x)

6

In [75]:
x = [0, 1, 2, 3, 4, 5, 6, 7]
print(x[-1])

7