### Aula 01 - Syntax

In [33]:
#pd = pandas
import   as pd  

#Importando somente o módulo Pitch da biblioteca mplsoccer
from mplsoccer import Pitch
from mplsoccer import Pitch, VerticalPitch

#Importando tudo da biblioteca mplsoccer 
from mplsoccer import *

#A diferença entre 'import <lib>' e 'from <lib> import *' é que na segunda opção não precisamos chamar a lib a todo momento

### Aula 02 - Variables

In [7]:
x = 'Messi'
y = 10
print(x,y)

Messi 10

In [9]:
x = str(3)
print(x)
type(x)

3

str

In [16]:
a = 'Messi'
A = 'Ronaldo'
print(a +' and '+ A)

Messi and Ronaldo

In [22]:
x ='10'
type(x)

str

In [23]:
float(x)

10.0

In [25]:
x = bool(x)
type(x)

bool

In [26]:
print(x)

True

In [28]:
x = 10
bytes(x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [30]:
x = int(5)

y = dict(num=x, name='Messi')
print(y)
print(type(y))

{'num': 5, 'name': 'Messi'}
<class 'dict'>

## Aula 03 - Bools, Numbers, Strings, Lists, Tuples, Dicts

In [31]:
x = 'Brazil Number one'

print(x)

Brazil Number one

In [37]:
x = '''
Desde 2002 o Brasil é o maior
ganhador de copas do mundo 
da história
'''
print(x)

Desde 2002 o Brasil é o maior
ganhador de copas do mundo
da história

STR manipulation

In [38]:
x = 'Brazil Number One'

In [43]:
x[0:5]

'Brazi'

In [44]:
len(x)

17

In [45]:
x = 'Messi scored a goal'
print('Messi' in x)

True

In [49]:
x = 'Hello'
y = 'My name is Marcelo'
sentence = x + ' ' + y 
print(sentence)

Hello My name is Marcelo

In [50]:
txt = 'Hello My name is Marcelo'
txt.split('Hello')

['', ' My name is Marcelo']

In [51]:
txt.replace('Marcelo', 'Messi')

'Hello My name is Messi'

In [54]:
name = 'Marcelo'
x = f'My name is {name}'
print(x)

My name is Marcelo

Numbers

In [55]:
x = 100
type(x)

int

In [56]:
x = 100.25
type(x)

float

In [57]:
x = 100j
type(x)

complex

In [58]:
x = 100
float(x)

100.0

In [59]:
x = 100.5
int(x)

100

In [61]:
# Arredondando o float para um número inteiro 
x = 100.55
x = round(x)
x = int(x)
print(x)

101

In [62]:
x = 100.45
x = round(x)
x = int(x)
print(x)

100

Boolean

In [63]:
print(75 > 75)

False

In [64]:
bool('Messi')

True

In [65]:
#No binário, '0' representa falso e '1' representa verdadeiro
bool(0)

False

In [66]:
bool('')

False

Lists

In [70]:
x = ['apple', 'banana', 'watermelon', 'orange', 4, 100 * 5]
print(x)

['apple', 'banana', 'watermelon', 'orange', 4, 500]

In [71]:
len(x)

6

In [75]:
x = [0, 1, 2, 3, 4, 5, 6, 7]
print(x[-1])

7

In [76]:
x = [0, 1, 2, 3, 4, 5, 6, 7]
x[3:]

[3, 4, 5, 6, 7]

In [77]:
print('hello' in x)

False

In [78]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 'Hello']
print('Hello' in x)

True

In [79]:
x = [0, 1, 2, 3, 4, 5, 6, 7]
x[5] = 10
print(x)

[0, 1, 2, 3, 4, 10, 6, 7]

In [80]:
x.insert(2, 'Marcelo')
print(x)

[0, 1, 'Marcelo', 2, 3, 4, 10, 6, 7]

In [81]:
x.remove('Marcelo')
print(x)

[0, 1, 2, 3, 4, 10, 6, 7]

In [82]:
for x in [1, 2, 3, 4, 5]:
    print(x)

1
2
3
4
5

In [83]:
grocery_list = ['apple', 'banana', 'pear']

for fruit in grocery_list:
    print(f'This is a {fruit}')

This is a apple
This is a banana
This is a pear

In [84]:
[print(f'This is a {fruit}') for fruit in grocery_list]

This is a apple
This is a banana
This is a pear

[None, None, None]

Tuples

A diferença entre listas e tuplas, é que as tuplas são imutáveis, uma vez criadas não tem como modificá-las

In [85]:
x = (1, 2, 3, 4, 5)
print(x)

(1, 2, 3, 4, 5)

In [86]:
type(x)

tuple

In [87]:
x[2]

3

Dictionaries

In [89]:
x = {
    "key1": "Value1",
    "key2": "Value2"
}

In [90]:
x["key1"]

'Value1'

In [91]:
x["key1"] = 'Messi'
print(x['key1'])

Messi

In [92]:
x

{'key1': 'Messi', 'key2': 'Value2'}

In [93]:
x['World_cup'] = 2026

In [94]:
x

{'key1': 'Messi', 'key2': 'Value2', 'World_cup': 2026}

In [95]:
print(x)
del x['key2']

{'key1': 'Messi', 'key2': 'Value2', 'World_cup': 2026}

In [96]:
print(x)

{'key1': 'Messi', 'World_cup': 2026}

In [97]:
x['key2']

KeyError: 'key2'

## if or else

In [1]:
a = 100
b = 200

if b > a:
    print('hello')

hello

In [3]:
a = 100
b = 200

if a > b:
    print('hello')

In [7]:
a = 100
b = 50

if b > a:
    print('b greater than a')
elif a == b:
    print('they are the same')
else:
    print('Bad luck')

Bad luck

In [9]:
 a = 10
b = 5
c = 100

if a > b and c > a:
   print('Hello')

Hello

In [10]:
if a > b or a > c:
    print('One of this is True')

One of this is True

In [11]:
x = 100 

if x > 5:
    print('Greater than 5')
    if x > 10000:
        print('Greater than 10000')
    else:
        print('Not greater than 10000')

Greater than 5
Not greater than 10000

In [13]:
x = 10

if x > 50000:
    print('Hello')
elif x > 5:
    pass
else:
    print('Hello 2')

In [14]:
x = 4

if x > 50000:
    print('Hello')
elif x > 5:
    pass
else:
    print('Hello 2')

Hello 2

## For and While Loops

In [1]:
players = ['Messi', 'Ronaldo', 'Neymar', 'Hulk']

for player in players:
    print(player)

Messi
Ronaldo
Neymar
Hulk

In [3]:
for x in range(5):
    print(x)

0
1
2
3
4

In [5]:
players = ['Messi', 'Ronaldo', 'Neymar', 'Hulk']
fruits = ['Apple', 'Orange', 'Banana']

for x in players:
    for y in fruits:
        print(x, y)

Messi Apple
Messi Orange
Messi Banana
Ronaldo Apple
Ronaldo Orange
Ronaldo Banana
Neymar Apple
Neymar Orange
Neymar Banana
Hulk Apple
Hulk Orange
Hulk Banana

In [6]:
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [9]:
numbers = range(10)

for x in numbers:
    if x == 7:
        break
    elif x == 3:
        continue

    print (x)

0
1
2
4
5
6

## Functions